* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    :active, :hover, :focus {
        outline: 0!important;
        outline-offset: 0!important;
    }
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    position: relative;
    // text-align: center;
}
.content {
    max-width: 1050px;
    margin-left: auto;
}

ul {
    list-style: none;
}

.section-title {
    font-size: 70px;
    font-weight: 400;
    font-family: 'Bebas Neue', cursive;
    color: #000;
    &_white {
        color: #fff;
    }
}

@import 'blocks/main';
@import 'blocks/features';
@import 'blocks/products';
@import 'blocks/about';
@import 'blocks/advantages';
@import 'blocks/review';
@import 'blocks/footer';


// font-family: 'Bebas Neue', cursive;
// font-family: 'Goldman', cursive;